html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #E7C24F;
}

main {
  flex: 1;
  padding: 1rem;
}

header {
  background-color: #E7C24F;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  font-size: 30px;
  margin: 0 1rem;
  color: #396E94;
  border: white 25px;
  text-decoration: none;
}

main > div {
  transition: opacity 0.3s ease;
}

h1{
  text-align: center;
}

img {
  object-fit: cover;
}

.book-container {
  display: grid;
  color: #381D2A;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.book {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}
.book button {
  margin-top: 0.5rem;
  background: #396E94;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.book button.remove {
  background: #A43312;
}
.progress {
  font-size: 0.9rem;
  color: #555;
}
.book img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

#search {
  text-align: center;
  padding: 2rem 1rem;
}

#searchInput {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#search button {
  background-color: #A43312;
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}

button, .book {
  transition: all 0.3s ease-in-out;
}

.book:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.book button:hover,
#search button:hover {
  background-color: #2E4C6D;
}

.book button.remove:hover {
  background-color: #81230B;
}

label{
  font-size: 30px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #E7C24F;
  border-top: 1px solid #ccc;
  min-height: 100px;
}

footer p{
  font-size: 0.9rem;
  color: black solid;
}

footer nav a {
  font-size: 30px;
  margin: 0 1rem;
  color: #396E94;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 0.5rem 0;
  }

  label, nav a {
    font-size: 24px;
  }

  .book-container {
    grid-template-columns: 1fr;
  }
}
